.countries-component {
  #reset-filters-button {
    margin-bottom: 16px;
  }

  label {
    margin-bottom: 16px;
    display: inline flex;
    flex-direction: column;
    font-weight: bold;
    max-width: 100%;
  }

  fieldset {
    border-radius: 8px;
    margin: 0;
    padding: 0;

    legend {
      /* Needed to center on Firefox */
      margin: auto;
      font-weight: bold;
      padding-inline: 8px;
    }
  }

  details {
    summary {
      font-weight: bold;
      max-width: 100%;
    }

    legend {
      max-width: 85%;
    }

    @media (width <= 500px) {
      text-align: left;

      summary {
        text-align: center;
      }
    }
  }

  > fieldSet, details {
    margin-bottom: 16px;
    max-width: min(100%, var(--layout-max-width));

    label {
      font-weight: 500;
      margin: 0;
      padding: 10px;
      flex-direction: row;
    }
  }

  input[type=search] {
    margin-top: 4px;
    font-size: inherit;
    font-family: inherit;
    padding: 8px 16px;
    border-radius: 999999px;
    border: 2px groove var(--background-color-primary-foreground-accent);
    width: 400px;
    max-width: 100%;
    outline-offset: 2px;
  }

  .directory {
    max-width: var(--layout-max-width);

    ul {
      display: grid;
      grid-template-columns: repeat(4, minmax(auto, 1fr));
      text-align: left;

      li, a {
        width: 100%;
      }

      a {
        --flag-width: 40px;
        --link-padding: 12px;

        display: inline-flex;
        align-items: center;
        padding-left: calc((2 * var(--link-padding)) + var(--flag-width));
        position: relative;

        img.flag {
          /* Prevent the flag from increasing the link height */
          position: absolute;
          left: var(--link-padding);
          margin: 0;
          width: var(--flag-width);

          /* If the image fails to load, hide the border and shadow */
          &.load-failed {
            filter: none;
            border: none;
          }
        }
      }

      @media (max-width: 1200px) {
        grid-template-columns: repeat(3, minmax(auto, 1fr));
      }

      @media (max-width: 900px) {
        grid-template-columns: repeat(2, minmax(auto, 1fr));
      }

      @media (max-width: 600px) {
        grid-template-columns: minmax(auto, 1fr);
      }
    }
  }
}
