.country-component {
  .flag {
    width: 300px;

    /* Keep some padding on the sides for the drop-shadow
    to not become hidden overflow for the max-height transition */
    margin: 6px;

    .load-failed & {
      /* If the image fails to load, hide the border and shadow */
      filter: none;
      border: none;
      margin: 0;
    }
  }
}
