.country-component {
  figure {
    > div {
      button.image-dialog-button {
        margin: 6px auto 10px;
      }

      &:not(.load-failed) img.flag {
        width: 300px;
      }

      /* Causes the image to not render on mobile until a reflow is triggered */
      /* display: flex;
      justify-content: center; */
    }

    figcaption {
      /* Keep the summary hit-box sized to the label, at least when collapsed */
      display: inline flow-root;
    }
  }
}
