.country-component {
  figure {
    > div {
      /* Don't take up any space if the image fails to load */
      img {
        display: block;
      }

      /* Causes the image to not render on mobile until a reflow is triggered */
      /* display: flex;
      justify-content: center; */
    }

    figcaption {
      /* Keep the summary hit-box sized to the label, at least when collapsed */
      display: inline flow-root;
    }
  }

  .flag {
    width: 300px;

    /* Keep some padding on the sides for the drop-shadow
    to not become hidden overflow for the max-height transition */
    margin: 6px auto 10px;

    .load-failed & {
      margin: 0;
    }
  }
}
