.layout-component {
  .header-bar {
    width: 100%;
    margin: auto;

    /* Darken the header bar a bit when beyond the max width */
    background: hsl(from var(--background-color-accent) h s calc(l * 0.8));

    /* Prevent shadow from showing below, allowing the selected nav option
    to blend with the background */
    overflow: hidden;

    .header-bar-content {
      background: var(--background-color-accent);
      color: var(--background-color-accent-foreground-primary);
      max-width: var(--layout-max-width);
      margin: auto;
      text-align: center;
      box-shadow: 0 0 40px 5px var(--shadow-color);
    }

    nav {
      margin-top: 16px;
      flex: 1;
    }

    .bar-bottom {
      display: flex;
      justify-content: space-between;
      align-items: end;
    }
  }

  .local-storage-warning {
    background-color: var(--danger-color);
    color: var(--background-color-primary);
    margin: auto;
    padding: 6px 8px;
    font-weight: bold;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 8px;

    > p {
      flex: 1;

      /* Match the dismiss button height */
      padding: 5px 8px;
    }

    button {
      /* Match the warning height */
      line-height: inherit;

      .button-shell {
        padding-inline: 12px;
      }
    }
  }

  #settings-bar-toggle-button {
    margin: 8px;
    border-radius: 100vw;
    aspect-ratio: 1;
    line-height: 1;
    font-size: 1.75rem;

    .button-shell {
      place-content: center;
    }

    &.collapse .button-content {
      &::before {
        content: '⯅' / '';
        display: block;
        translate: 0 0.15em;
      }
    }

    &.expand .button-content {
      &::before {
        content: '⛭' / '';
      }
    }
  }

  #settings-bar {
    width: 100%;

    .settings-controls {
      width: 100%;
      margin: auto;
      max-width: var(--layout-max-width);
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: baseline;
      column-gap: 8px;

      > div {
        flex-grow: 1;
        max-width: 100%;
      }

      .spacer {
        height: 0;
        flex-grow: 99999999;
      }
    }

    label {
      --hover-glow-color: var(--background-color-accent-foreground-primary);

      /* Modern version of the legacy inline-block value */
      display: inline flow-root;
      padding: 12px 16px;
      font-weight: 500;
      margin: auto;

      input[type="checkbox"] {
        transform: translateY(20%);
      }
    }
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    padding: 32px 16px 16px;
    outline-offset: -4px;

    /* Reserve space for the scroll bar, and the same amount of space on the opposite side
    to preserve centering.  `auto both-edges` isn't supported, unfortunately. */
    scrollbar-gutter: stable both-edges;
  }
}
