.quiz-component {
  /* The largest size it can be (at 100% zoom)
  before Chrome makes only part of the ghost image visible */
  --drag-width: 299px;

  details {
    margin-bottom: 16px;

    summary {
      > * {
        /* Modern version of the legacy inline-block value */
        display: inline flow-root;
      }
    }

    &.quiz-instructions {
      summary::marker {
        font-size: 1.5rem;
      }

      ol {
        margin: 0 auto 48px;

        /* Match the h3 style */
        font-size: 1.2rem;
        font-weight: bold;

        > ul {
          font-size: 1rem;
          font-weight: normal;
          padding-inline-start: 20px;
        }

        li {
          text-align: left;
          margin-block: 0.25rem;
        }
      }
    }
  }

  #quiz-type-description {
    display: inline flex;
    padding-inline: 8px;
  }

  .quiz-outcome-message {
    margin-block: 8px;
    font-size: 1.25rem;
  }

  .quiz-action-button {
    margin-block: 16px 48px;

    &.give-up {
      margin-top: 250px;
    }

    &.level-up {
      font-size: 1.25rem;
      box-shadow: 0 2px 8px 2px var(--shadow-color);

      /* Old version before adding the rainbow */
      /* box-shadow: 0 2px 8px 2px var(--background-color-primary-foreground-accent),
          0 2px 4px 0 var(--shadow-color); */

      /* position: relative; */
      /* background: transparent; */
      /* border-color: transparent; */

      /* &::before {
        content: ''; */
        border: 3px solid transparent;
        /* position: absolute; */
        /* inset: -1px;
        z-index: -1;
        border-radius: inherit;
        filter: blur(1px); */

        /* Background position cannot go beyond 100%, so need to repeat the gradient enough times
        that you can wind up at a position identical to the start before 100%, for infinite looping */
        background-image: linear-gradient(var(--background-color-accent), var(--background-color-accent)),
            linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8,
            #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8,
            #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8,
            #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8);
        background-size: 800%;
        background-clip: padding-box, border-box;
        background-origin: border-box;

        /* iOS Safari fix */
        /* transform: translateZ(0); */ /* Force hardware acceleration */
        /* will-change: background-position; */ /* Hint to browser about animation */

        @media not (prefers-reduced-motion: reduce) {
          animation: rainbowMotion 10s infinite linear;
        }
      /* } */
    }
  }

  .draggable-country {
    clear: both;
    width: var(--drag-width);
    max-width: 100%;
    margin: auto;
    padding: 12px;
    border-radius: 8px;
    background: var(--background-color-primary);

    &.being-dragged-over {
      &:not(li:has(.dragged) + li &) {
        /* Center the border between the two elements but keep the hit box stable */
        border-top: 8px solid var(--background-color-accent);
        border-radius: 0;
        padding-block: 8px 16px;
        margin-block: -4px -4px;

        > * {
          /* Prevent onDragLeave from being triggered by child elements */
          pointer-events: none;
        }
      }

      li:has(.dragged) + li & {
        /* Keep hover hit box consistent to prevent flicker */
        padding-bottom: 16px;
        margin-bottom: -4px;
      }
    }

    &.selected, &.dragged {
      padding: 10px;
      border: 2px dashed var(--background-color-accent);
      color: var(--background-color-primary-foreground-accent);
    }

    &.dragged {
      /* Change styles after a delay when dragged so that
      the ghost image isn't affected */
      transition: color 0.1s 0s allow-discrete,
          border 0.1s 0s allow-discrete;

      button {
        visibility: hidden;
      }
    }

    &.locked-in {
      cursor: default;

      .grip {
        display: none;
      }
    }

    &:not(.locked-in) {
      .check-mark {
        visibility: hidden;
      }
    }

    @media (hover: hover) and (pointer: fine) {
      &[draggable="true"]:hover:not(.locked-in):not(.dragged) {
        filter: brightness(0.9);
        cursor: move;
        border: 2px solid var(--background-color-accent);
        padding: 10px;
        /* padding: calc(10px + 1rem) 10px 10px; */
      }
    }

    .button-controls {
      float: right;
      display: flex;
      gap: 8px;
      margin-left: 12px;

      button {
        /* Keep the button symbol aligned with the text baseline
        and allow the second line to pass underneath */
        margin-block: -2px;
        border-width: 2px;
        padding: 0 8px;
        box-shadow: 0 1px 1px 0 var(--shadow-color);
        outline-offset: 2px;

        &.remove-button {
          /* Marking this red can be mistaken as an incorrect match/rank */
          /* border-color: var(--danger-color);
          background: var(--background-color-primary);
          color: var(--danger-color); */

          > span {
            /* Modern version of the legacy inline-block value */
            display: inline flow-root;
            transform: rotate(45deg);

            /* This is the one calibrated for the symbol font */
            transform-origin: 50% 45%;
            /* transform-origin: 50% 56%; */
          }
        }
      }
    }

    /* Ensure either displayed symbol takes up the same space
    to maintain alignment */
    .symbol-wrapper {
      .grip {
        /* Works better absolute positioning for Firefox */
        float: left;
        width: 0;
      }
    }

    .image-dialog-button {
      margin-top: 8px;
    }
  }

  .quiz-controls {
    margin-block: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    width: var(--layout-max-width);
    max-width: 100%;

    .draggable-country-pool, .draggable-country-list {
      padding: 16px;
      max-width: 100%;
      border-radius: 16px;
      border: 8px solid var(--background-color-accent);
      box-shadow: 0 0 3px 1px var(--background-color-accent);
      text-align: left;

      > h2, > h3, > h4, > h5, > h6 {
        margin: auto;
        text-align: center;
        width: 100%;
        max-width: 315px;

        &:not(.draggable-country-pool:has(.draggable-country-pool) > &) {
          max-width: var(--drag-width);
        }
      }

      > h2 {
        font-size: 1.25rem;
      }
      > h3 {
        font-size: 1.15rem;
      }

      > p {
        margin: auto;
        text-align: center;
        padding: 12px 16px;

        /* Reverse these from the header styles to ensure the width
        grows to the set value when space is available */
        width: 315px;
        max-width: 100%;

        &:not(.draggable-country-pool:has(.draggable-country-pool) > &) {
          width: var(--drag-width);
        }
      }

      > .content-below-header {
        padding: 4px 16px;
        width: var(--drag-width);
        max-width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        align-items: center;
        text-align: center;
      }

      ul, ol {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .draggable-country-pool {
        border-width: 4px;
        margin-top: 8px;
        padding: 4px;

        > h2, > h3, > h4, > h5, > h6 {
          padding-inline: 8px;
          max-width: var(--drag-width);
        }

        > p {
          clear: both;
        }
      }
    }

    .draggable-country-list {
      /* Add extra padding on the bottom for dropping a ranked country at the end */
      padding: 16px 16px 24px;
    }

    .draggable-country-list,
    .draggable-country-pool.target-container {
      border-color: rgba(255, 255, 255, 0.3);

      &.shake {
        @media not (prefers-reduced-motion: reduce) {
          animation: animateShake 0.25s 2 ease-in-out;
        }
      }
    }

    .draggable-country-list {
      &.being-dragged-over {
        &:not(:has(.draggable-country)) {
          border-color: var(--background-color-accent);
        }

        > * {
          /* Prevent onDragLeave from being triggered by other child elements */
          pointer-events: none;
        }

        .draggable-country {
          pointer-events: all;
        }

        li:last-child > .draggable-country:not(.dragged) {
          /* Center the border between the element and container edge
          but keep the hit box stable */
          border-bottom: 8px solid var(--background-color-accent);
          border-radius: 0;
          padding-bottom: 8px;
          margin-bottom: -4px;
        }
      }
    }

    .draggable-country-pool {
      border-color: rgba(0, 0, 0, 0.3);

      &.being-dragged-over {
        &:not(:has(.dragged)) {
          border-color: var(--background-color-accent);
        }

        > * {
          /* Prevent onDragLeave from being triggered by child elements */
          pointer-events: none;
        }
      }

      .target-for-add-button {
        /* Mimic draggable country control button styles */
        border-width: 2px;
        padding: 0 8px;
        box-shadow: 0 1px 1px 0 var(--shadow-color);
        outline-offset: 2px;

        font-weight: normal;
        overflow: hidden;
        font-size: 1rem;

        &:not(.draggable-country-pool > &) {
          /* Duplicate button on the left side
          to keep the header centered */
          visibility: hidden;
        }

        > span {
          display: inline flow-root;
          transform: scale(2);
        }
      }

      > .target-for-add-button {
        float: right;
        margin: 0 0 2px 8px;
      }

      &.target-for-add {
        border-style: dashed;
        border-color: var(--background-color-accent);
      }
    }

    figure:not(dialog figure) {
      padding: 8px;
      max-width: var(--drag-width);

      button.image-dialog-button {
        float: left;
        margin: 0 16px 8px 0;
        padding: 0;
        outline-offset: 0;
        background: transparent;
        border: none;
        border-radius: 0;
        display: inline flex;
        box-shadow: none;
        color: var(--background-color-primary-foreground-accent);
        text-decoration: underline dotted;
        text-underline-offset: 0.1em;
        text-decoration-thickness: 0.05em;

        @media (hover: hover) and (pointer: fine) {
          &:hover {
            text-decoration-style: solid;
            text-decoration-thickness: 0.15em;
          }
        }

        img.flag {
          width: 100px;
        }
      }

      details {
        margin: 0;

        summary {
          padding: 0 0 8px;
        }
      }
    }
  }
}

@keyframes rainbowMotion {
  0% { background-position-x: 0, 0; }
  100% { background-position: 0, 61.7%; }
}

@keyframes animateShake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-8px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}
