.button-component {
  --button-hover-scale: 1.05;
  --button-active-scale: 0.8;

  button {
    all: unset;
    outline: revert;
    line-height: revert;

    /* The button and span aren't always flush otherwise,
    such as when containing an image */
    display: inline flex;

    /* Should be okay to make this color transparent
    since there are :active styles */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    outline-offset: -4px;
    border-radius: 8px;
    transition: all 0.1s ease-in-out, opacity 0.3s ease-in-out, visibility 0s;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    max-width: 100%;

    .button-shell {
      /* The transforms need to be on a non-inline container,
      but that's handled by the button display being inline flex,
      and adding that display here causes the calculated height to shrink */
      /* display: inline flex; */
      transition: all 0.1s ease-in-out, opacity 0.3s ease-in-out, visibility 0s;
      border-radius: inherit;
      width: 100%;
      height: 100%;
      padding: 12px 16px;
      background: var(--background-color-accent);
      color: var(--background-color-accent-foreground-primary);
      border-radius: inherit;
      border: 1px solid var(--shadow-color);
      box-shadow: 0 2px 4px 0 var(--shadow-color);

      --shadow-filter: drop-shadow(0);
      --brightness-filter: brightness(1);
      filter: var(--shadow-filter) var(--brightness-filter);
    }

    &:not(:disabled) {
      cursor: pointer;

      /* Shrink the active button's shell only so long as it would activate upon release.
      Note that this intent doesn't work on mobile, where :hover is applied even after dragging out
      of the element (and since any scrolling causes a pressed button not to activate regardless). */
      &:active:hover {
        .button-shell {
          /* Apply to a separate element so that transition to/from active state
          can be isolated and to prevent the button hitbox from shrinking */
          transform: scale(var(--button-active-scale));
        }
      }

      /* If hover styles are in the mix */
      @media (hover: hover) and (pointer: fine) {
        &:hover {
          .button-shell {
            /* Use brightness to indicate hover */
            --brightness-filter: brightness(var(--light-hover-brightness));
          }
        }

        &:hover, &:active {
          /* Grow the button a little to indicate hover while not active,
          and also to indicate active while not hovered, and keep it scaled
          this way even when active hovered for stability and consistency */
          transform: scale(var(--button-hover-scale));
        }

        &:active:hover {
          /* Shrink the button shell to indicate active hover,
          also compensating for the scale applied to the button itself,
          while keeping the actual button hitbox stable */
          .button-shell {
            transform: scale(calc(var(--button-active-scale) / var(--button-hover-scale)));
          }
        }
      }

      &:not(:active:hover) {
        .button-shell {
          /* Bounce transition for exiting the active state */
          transition: all 0.1s ease-in-out,
              transform 0.4s cubic-bezier(0.54, 2.06, 0.23, 0.39),
              opacity 0.3s ease-in-out,
              visibility 0s;
        }
      }
    }

    &:disabled {
      /* Keep contrast above 3:1 (for light and dark modes)
      so that the "Already Guessed!" button label is readable */
      opacity: 0.6;
    }

    &.danger {
      .button-shell {
        background: var(--danger-color);
        color: var(--background-color-primary)
      }
    }

    &.outlined {
      .button-shell {
        color: inherit;
        background: transparent;
        border-color: currentColor;
      }
    }

    &.small {
      outline-offset: -3px;

      .button-shell {
        padding: 4px 8px;
      }
    }

    figure &.image-dialog-button {
      outline-offset: 1px;
      border-radius: 0;

      .button-shell {
        display: inline flex;
        padding: 0;
        background: transparent;
        border: none;
        box-shadow: none;

        /* For if the image doesn't load and text is shown instead */
        color: var(--background-color-primary-foreground-accent);
        text-decoration: underline dotted;
        text-underline-offset: 0.1em;
        text-decoration-thickness: 0.05em;

        /* Putting the drop shadow on a wrapper rather than the img itself
        can help it render better for mobile when transforms are applied */
        &:has(.flag:not(.load-failed)) {
          --shadow-filter: drop-shadow(0 2px 3px black);

          .flag {
            filter: none;
          }
        }
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover:not(:disabled) {
          .button-shell {
            text-decoration-style: solid;
            text-decoration-thickness: 0.15em;
          }
        }
      }
    }
  }
}
