.render-with-loading-component {
  .loading {
    margin-top: 64px;

    @media not (prefers-reduced-motion: reduce) {
      animation: animateScale 3s ease-in-out infinite;
    }
  }

  /* To prevent a staggered fade-in caused by selecting all descendants,
  only select the direct children of descended component-wrappers
  that don't have non-component-wrapper parents */
  > *,
  .component-wrapper:not(.render-with-loading-component :not(.component-wrapper) .component-wrapper) > * {
    transition: opacity 0.3s ease-in-out;
  }

  &.ready-for-load {
    > *,
    .component-wrapper:not(.render-with-loading-component :not(.component-wrapper) .component-wrapper) > * {
      opacity: 0;
      transition: none;
    }
  }
}
