/*
 * Global styles go here.  Component-specific styles go in component stylesheets,
 * encapsulated by nesting within a style class selector for the component wrapper,
 * styled with display: contents as needed to avoid the wrapper affecting layout unnecessarily.
 */

/* Font that can render symbolic unicode characters
(which otherwise don't display on iOS Safari) */
@font-face {
  font-family: "Symbola";
  src: url("/Symbola.ttf");
}

*, *::before, *::after {
  box-sizing: border-box;
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
}

:root {
  --layout-max-width: 1280px;

  /* Light mode color scheme (default) */
  --background-color-primary: #e9e9e9;
  --background-color-primary-foreground-primary: #29273a;
  --background-color-primary-foreground-accent: #5a4dd3;
  --danger-color: #c50000;
  --background-color-accent: #10009e;
  --background-color-accent-foreground-primary: #e9e9e9;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --shadow-color-foreground: white;

  @media (prefers-color-scheme: dark) {
    /* Dark mode color scheme */
    --background-color-primary: #29273a;
    --background-color-primary-foreground-primary: #e9e9e9;
    --background-color-primary-foreground-accent: #a099e1;
    --danger-color: #ffb3b3;
    --background-color-accent: #565091;
    --background-color-accent-foreground-primary: #e9e9e9;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --shadow-color-foreground: white;
  }

  /* Makes native browser elements like form controls
  reflect the preferred color scheme */
  color-scheme: light dark;

  background-color: var(--background-color-primary);
  color: var(--background-color-primary-foreground-primary);
  accent-color: var(--background-color-primary-foreground-accent);

  font-family: system-ui, Arial, sans-serif;
  line-height: 1.5;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.symbol-font {
  font-family: "Symbola", system-ui, Arial, sans-serif;
}

nav {
  width: 100%;
  background: var(--background-color-accent);
  color: var(--background-color-accent-foreground-primary);

  ul {
    width: 100%;
    max-width: var(--layout-max-width);
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    a {
      /* Modern version of the legacy inline-block value */
      display: inline flow-root;
      background: var(--background-color-accent);
      color: inherit;
      text-decoration: inherit;
      padding: 12px 16px;
      height: 100%;
      outline-offset: -4px;

      &.active, &.active:hover {
        background: var(--background-color-primary);
        color: var(--background-color-primary-foreground-accent);

        @media (prefers-contrast: more) {
          border-bottom: 2px solid var(--background-color-primary-foreground-accent);
          padding-bottom: 10px;
        }
      }

      @media (hover: hover) {
        &:hover {
          color: inherit;
          filter: brightness(0.85);
        }
      }
    }
  }
}

.sr-only {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border-width: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 16px 0;

  /* Nicer presentation of focus outline */
  padding-inline: 0.5rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 8px 0;
}

p {
  margin: 0;
}

a {
  font-weight: bold;
  color: var(--background-color-primary-foreground-accent);
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.05em;
  text-decoration-style: dotted;

  @media (hover: hover) {
    &:hover {
      text-decoration-style: solid;
      text-decoration-thickness: 0.15em;
    }
  }
}

.danger {
  color: var(--danger-color);
}

button {
  background: var(--background-color-accent);
  color: var(--background-color-accent-foreground-primary);
  font-weight: bold;
  font-size: inherit;
  font-family: inherit;
  padding: 12px 16px;
  outline-offset: -4px;
  border-radius: 8px;
  border: 1px solid var(--shadow-color);
  box-shadow: 0 2px 4px 0 var(--shadow-color);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      cursor: pointer;
      filter: brightness(0.85);
    }
  }

  &:disabled {
    opacity: 0.5;
  }

  &.danger {
    background: var(--danger-color);
    color: var(--background-color-primary)
  }
}

dl {
  max-width: 100%;

  &.country-data-list, &.quiz-data-list {
    max-width: var(--layout-max-width);
    display: flex;
    flex-direction: column;
    gap: 16px 32px;
    margin: 8px 0 16px;

    dt {
      font-weight: bold;
    }

    dd {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > * {
        flex-shrink: 1;
      }

      &.large-number {
        font-size: 2rem;
      }
    }
  }

  /* Beware of selector specificity issues when trying to
  extract this to another stylesheet */
  &.country-data-list {
    .country-data-wrapper {
      /* flex-grow would cause the two stacked sections to take
      equal vertical space rather than align to the top */
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      gap: 16px 32px;
    }

    @media (min-width: 600px) {
      /* Use grid instead of flex to allow for centering equal-width columns */
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &.quiz-data-list .quiz-data-wrapper {
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    gap: 16px 32px;
    flex-wrap: wrap;

    > div {
      flex-shrink: 1;
    }
  }
}

.error {
  color: var(--danger-color);
  padding-inline: 8px;
  font-weight: 500;
}

.flag {
  /* Modern version of the legacy inline-block value */
  display: inline flow-root;
  max-width: 100%;

  /* Nepal's flag isn't rectangular!  Use drop-shadow filter instead to match the shape.
  But border is still beneficial for high contrast mode. */
  border: 1px solid transparent;
  filter: drop-shadow(0 2px 3px black);
}

.smooth-loading {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.with-max-height {
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease-in-out, max-height 3s ease-in-out,
        overflow 0.3s allow-discrete step-end;
  }

  &.done-loading {
    opacity: 1;

    &.with-max-height {
      max-height: 9999px;
      overflow: visible;
    }
  }
}

.component-wrapper {
  display: contents;
}
