/*
 * Global styles go here.  Component-specific styles go in component stylesheets,
 * encapsulated by nesting within a style class selector for the component wrapper,
 * styled with display: contents as needed to avoid the wrapper affecting layout unnecessarily.
 */

/* Font that can render symbolic unicode characters
(which otherwise don't display on iOS Safari) */
@font-face {
  font-family: "Symbola";
  src: url("/Symbola.ttf");
}

*, *::before, *::after {
  box-sizing: border-box;
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
}

:root {
  --layout-max-width: 1280px;
  --light-hover-brightness: 0.85;

  /* Light mode color scheme (default) */
  --background-color-primary: #e9e9e9;
  --background-color-primary-foreground-primary: #29273a;
  --background-color-primary-foreground-accent: #5a4dd3;
  --danger-color: #c50000;
  --background-color-accent: #10009e; /* Used as the meta theme color */
  --light-dark-hover-brightness: var(--light-hover-brightness);
  --light-dark-active-brightness: 0.9;
  --background-color-accent-foreground-primary: #e9e9e9;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --shadow-color-foreground: white;

  @media (prefers-color-scheme: dark) {
    /* Dark mode color scheme */
    --background-color-primary: #29273a;
    --background-color-primary-foreground-primary: #e9e9e9;
    --background-color-primary-foreground-accent: #a099e1;
    --danger-color: #ffb3b3;
    --background-color-accent: #565091;
    --light-dark-hover-brightness: 0.6;
    --light-dark-active-brightness: 0.75;
  }

  /* Makes native browser elements like form controls
  reflect the preferred color scheme */
  color-scheme: light dark;

  background-color: var(--background-color-primary);
  color: var(--background-color-primary-foreground-primary);
  accent-color: var(--background-color-primary-foreground-accent);

  font-family: system-ui, Arial, sans-serif;
  line-height: 1.5;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;

  /* Prevent accidental refresh on mobile devices */
  overscroll-behavior: none;
}

#root {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.symbol-font {
  font-family: "Symbola", system-ui, Arial, sans-serif;
}

strong {
  font-weight: 500;
}

nav {
  width: 100%;
  background: var(--background-color-accent);
  color: var(--background-color-accent-foreground-primary);

  ul {
    width: 100%;
    max-width: var(--layout-max-width);
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    a {
      /* Modern version of the legacy inline-block value */
      display: inline flow-root;
      background: var(--background-color-accent);
      color: inherit;
      text-decoration: inherit;
      padding: 12px 16px;
      height: 100%;
      outline-offset: -4px;

      /* The snappiness of immediate transition is preferable
      for perusing the Countries directory */
      /* transition: filter 0.1s ease-in-out; */

      /* The active class is for the nav link of the current page */
      &.active, &.active:hover {
        background: var(--background-color-primary);
        color: var(--background-color-primary-foreground-accent);

        @media (prefers-contrast: more) {
          border-bottom: 2px solid var(--background-color-primary-foreground-accent);
          padding-bottom: 10px;
        }
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          /* The light-dark-hover-brightness var is configured for light vs dark backgrounds,
          whereas this usually has the accent color background */
          filter: brightness(var(--light-hover-brightness));
          color: inherit;
        }
      }

      @media (hover: hover) and (pointer: fine) and (prefers-contrast: more) {
        &:hover {
          filter: brightness(var(--light-dark-hover-brightness));
        }
      }
    }
  }
}

.sr-only {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border-width: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

label {
  --hover-glow-color: var(--background-color-primary-foreground-accent);
  cursor: pointer;

  input[type=radio], input[type=checkbox] {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0 6px 0 0;
    transform: translateY(10%);
    cursor: inherit;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover input {
      filter: drop-shadow(0 0 4px var(--hover-glow-color));
    }
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 16px 0;

  /* Nicer presentation of focus outline */
  padding-inline: 0.5rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 8px 0;
}
h3 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 16px 0;
}

p {
  margin: 0;
}

a {
  font-weight: bold;
  color: var(--background-color-primary-foreground-accent);
  text-underline-offset: 0.1em;
  text-decoration-thickness: 0.05em;
  text-decoration-style: dotted;

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      text-decoration-style: solid;
      text-decoration-thickness: 0.15em;
    }
  }
}

.danger {
  color: var(--danger-color);
}

dialog {
  width: 100%;
  height: 100%;
  max-width: unset;
  max-height: unset;
  margin: 0;
  padding: 19px;
  border: none;
  background: transparent;

  .dialog-inner-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .dialog-backdrop {
      background-color: rgba(0, 0, 0, 0.4);
      backdrop-filter: blur(3px);
      position: absolute;
      inset: 0;
    }

    .dialog-foreground {
      --dialog-padding: 16px;

      max-height: 100%;
      max-width: 100%;
      box-shadow: 0 3px 8px 1px var(--shadow-color);
      background-color: var(--background-color-primary);
      border: 2px solid var(--background-color-primary-foreground-primary);
      border-radius: 16px;
      text-align: center;
      position: relative;
      overflow: auto;
      padding: var(--dialog-padding);

      button.dialog-close-button {
        margin-bottom: 8px;
        align-self: flex-end;
        position: absolute;
        right: var(--dialog-padding);
        z-index: 1;
        line-height: inherit;

        .button-shell {
          padding-inline: 12px;
        }
      }

      h1 {
        /* Keep below the close button */
        padding-top: 1rem;
        padding-bottom: 16px;
        margin-bottom: 0;
        font-size: 1.5rem;
      }

      .scroll-container {
        flex: 1;
        width: calc(100% + 32px);
        overflow: auto;
        margin: 0 calc(-1 * var(--dialog-padding));
        padding: 0 var(--dialog-padding);

        &.with-height {
          height: 100%;
        }
      }
    }
  }
}

/* Can't go in the component stylesheet because it's moved to the body through a portal,
which is to prevent screen readers from treating the dialog as part of a parent figure or data list */
dialog.captioned-image-dialog {
  .loading-image {
    display: inline flow-root;

    @media not (prefers-reduced-motion: reduce) {
      animation: animateScale 3s ease-in-out infinite;
    }
  }

  .dialog-foreground {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: calc(2 * var(--dialog-padding) + 800px);

    /* Move bottom padding to a child to prevent it from being lost to overflow */
    padding-bottom: 0;
  }

  figure {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: safe center;
    align-items: center;

    > div {
      &.with-max-height {
        transition: opacity 0.3s ease-in-out, max-height 1s ease-in-out,
            overflow 0.3s allow-discrete step-end;
      }

      img.flag {
        max-width: 100%;
        width: auto;
        display: block;

        /* Leave space for the drop-shadow.  Use margin so that
        the high contrast mode border isn't offset from the img edge */
        margin: 8px auto;

        &.svg {
          /* Try to make the flag vector images consistently fill the dialog */
          width: 100%;
        }
      }
    }

    figcaption {
      margin: auto;
      padding-top: 8px;
      font-weight: 500;

      /* Prevent bottom padding from being lost to overflow by putting it
      on this textual child instead (none of the parents preserve it) */
      padding-bottom: 16px;
    }
  }
}

details {
  summary {
    /* Nicer presentation of focus outline */
    padding-inline: 16px;
    border-radius: 8px;
    width: max-content;
    max-width: 100%;
    margin-inline: auto;
    cursor: pointer;
    background: var(--background-color-primary);
    transition: filter 0.1s ease-in-out;

    @media (hover: hover) and (pointer: fine) {
      &:hover:not(:disabled) {
        /* Prefer filter over backdrop-filter so that it doesn't leave
        unaffected text background in high-contrast mode.  This requires
        having a background color set though, so use the primary background. */
        filter: brightness(var(--light-dark-hover-brightness));
      }
    }

    &:active:not(:disabled) {
      filter: brightness(var(--light-dark-active-brightness));
    }
  }
}

figure {
  margin: auto;
  max-width: 100%;

  figcaption {
    max-width: 100%;

    p {
      padding-top: 10px;
      font-size: 0.875rem;
      font-weight: 500;
    }
  }
}

dl {
  max-width: 100%;

  &.country-data-list, &.quiz-data-list {
    max-width: var(--layout-max-width);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px 32px;
    margin: 8px 0 16px;

    dt {
      font-weight: bold;
    }

    dd {
      margin: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > * {
        flex-shrink: 1;
      }

      &.large-number {
        font-size: 2rem;
      }
    }
  }

  /* Beware of selector specificity issues when trying to
  extract this to another stylesheet */
  &.country-data-list {
    .country-data-wrapper {
      /* flex-grow would cause the two stacked sections to take
      equal vertical space rather than align to the top */
      flex-shrink: 1;
      display: flex;
      flex-direction: column;
      gap: 16px 32px;
    }

    @media (min-width: 600px) {
      /* Use grid instead of flex to allow for centering equal-width columns */
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  &.quiz-data-list .quiz-data-wrapper {
    flex-shrink: 1;
    display: flex;
    justify-content: center;
    gap: 16px 32px;
    flex-wrap: wrap;

    > div {
      flex-shrink: 1;
    }
  }
}

.error {
  color: var(--danger-color);
  padding-inline: 8px;
  font-weight: 500;
}

.flag {
  /* Modern version of the legacy inline-block value */
  display: inline flow-root;
  max-width: 100%;

  /* Nepal's flag isn't rectangular!  Use drop-shadow filter instead to match the shape.
  But border is still beneficial for high contrast mode. */
  border: 1px solid transparent;
  filter: drop-shadow(0 2px 3px black);

  &.load-failed, .load-failed & {
    /* If the image fails to load, hide the border and shadow */
    filter: none;
    border: none;
  }
}

.smooth-loading {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  &.with-max-height {
    /* Keep some padding on the edges for the drop-shadow
    to not become hidden overflow for the max-height transition */
    padding: 8px;
    margin: -8px;
    width: calc(100% + 16px);

    /* Allow for internal scrolling */
    flex: 1;
    overflow: hidden;
    max-height: 0;
    transition: opacity 0.3s ease-in-out, max-height 3s ease-in-out,
        overflow 0.3s allow-discrete step-end;

    &, img {
      object-fit: contain;
    }
  }

  &.done-loading {
    opacity: 1;

    &.with-max-height {
      max-height: 9999px;
      overflow: visible;
    }
  }
}

.component-wrapper {
  display: contents;
}

@keyframes animateScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
