*, *::before, *::after {
  box-sizing: border-box;
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
}

:root {
  /* Light mode color scheme (default) */
  --background-color-primary: #e9e9e9;
  --background-color-primary-foreground-primary: #29273a;
  --background-color-primary-foreground-accent: #10009e;
  --background-color-primary-foreground-error: #c50000;
  --background-color-primary-shadow-color: rgba(0, 0, 0, 0.5);
  --background-color-accent: #10009e;
  --background-color-accent-foreground-primary: #e9e9e9;

  @media (prefers-color-scheme: dark) {
    /* Dark mode color scheme */
    --background-color-primary: #29273a;
    --background-color-primary-foreground-primary: #e9e9e9;
    --background-color-primary-foreground-accent: #a099e1;
    --background-color-primary-foreground-error: #ffb3b3;
    --background-color-primary-shadow-color: rgba(0, 0, 0, 0.5);
    --background-color-accent: #565091;
    --background-color-accent-foreground-primary: #e9e9e9;
  }

  color-scheme: light dark;

  background-color: var(--background-color-primary);
  color: var(--background-color-primary-foreground-primary);

  font-family: system-ui, Arial, sans-serif;
  line-height: 1.5;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

nav {
  width: 100%;
  background: var(--background-color-accent);
  color: var(--background-color-accent-foreground-primary);

  ul {
    width: 100%;
    max-width: 1280px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    a {
      background: var(--background-color-accent);
      color: inherit;
      text-decoration: inherit;
      padding: 12px 16px;
      height: 100%;
      display: inline-block;
      outline-offset: -4px;

      &.active, &.active:hover {
        background: var(--background-color-primary);
        color: var(--background-color-primary-foreground-accent);

        @media (prefers-contrast: more) {
          border-bottom: 2px solid var(--background-color-primary-foreground-accent);
          padding-bottom: 10px;
        }
      }

      @media (hover: hover) {
        &:hover {
          color: inherit;
          filter: brightness(0.85);
        }
      }
    }
  }
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  padding: 32px 16px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin: 16px 0;

  /* Nicer presentation of focus outline */
  padding-inline: 0.5rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 8px 0;
}

a {
  font-weight: bold;
  color: var(--background-color-primary-foreground-accent);

  &:not(:hover) {
    text-decoration: none;
  }
}

ol {
  margin: 0 auto;

  li {
    text-align: left;
  }
}

details {
  margin-block: 16px;

  summary {
    /* Nicer presentation of focus outline */
    padding-inline: 16px;
    cursor: pointer;

    > * {
      display: inline-block;
    }
  }

  &.quiz-instructions {
    summary {
      font-size: 1.5rem;
    }
  }
}

button {
  background: var(--background-color-accent);
  color: var(--background-color-accent-foreground-primary);
  font-weight: bold;
  font-size: inherit;
  font-family: inherit;
  padding: 12px 16px;
  outline-offset: -4px;
  border-radius: 8px;
  border: 1px solid var(--background-color-primary-shadow-color);
  box-shadow: 0 2px 4px 0 var(--background-color-primary-shadow-color);

  @media (hover: hover) {
    &:hover:not(:disabled) {
      cursor: pointer;
      filter: brightness(0.85);
    }
  }

  &:disabled {
    opacity: 0.5;
  }
}

input[type=search] {
  font-size: inherit;
  padding: 8px 16px;
  border-radius: 999999px;
  margin-block: 16px;
  border: 2px groove var(--background-color-primary-foreground-accent);
  width: 400px;
  max-width: 100%;
}

dl {
  max-width: 100%;

  &.country-data-list, &.quiz-data-list {
    display: flex;
    flex-direction: column;
    gap: 16px 32px;
    margin: 8px 0;

    dt {
      font-weight: bold;
    }

    dd {
      margin: 0;
      display: flex;
      justify-content: center;
    }
  }


  &.country-data-list {
    .country-data-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px 32px;
    }

    @media (min-width: 600px) {
      flex-direction: row;
    }
  }
}

.directory {
  max-width: 1280px;

  ul {
    display: grid;
    grid-template-columns: repeat(4, minmax(auto, 1fr));

    li, a {
      width: 100%;
    }

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, minmax(auto, 1fr));
    }

    @media (max-width: 500px) {
      grid-template-columns: minmax(auto, 1fr);
    }
  }
}

.flag {
  max-width: 100%;
  width: 300px;
  border: 1px solid var(--background-color-primary-shadow-color);
  box-shadow: 0 4px 8px 0px var(--background-color-primary-shadow-color);
  margin-block: 6px;
}

.error {
  color: var(--background-color-primary-foreground-error);
  padding-inline: 8px;
}

.loading {
  margin-top: 64px;

  @media not (prefers-reduced-motion: reduce) {
    animation: animateScale 3s ease-in-out infinite;
  }
}

@keyframes animateScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

/* TODO */
.quiz-matcher {
  padding: 12px 16px;
  cursor: pointer;
}

#portfolio-link {
  margin-top: 64px;
  display: inline-flex;
  background-color: #edb526;
  border: 2px solid #edb526;
  border-radius: 99999px;
  box-shadow: 0 0 4px 0 #f9b70f;

  @media (hover: hover) {
    &:hover {
      box-shadow: 0 0 6px 1px #f9b70f;
    }
  }

  > img {
    height: 128px;
    border-radius: 99999px;
    pointer-events: none;
  }
}
